{% extends "base.html" %}

{% block content %}

<a href="/add-listing/" class="text-blue-500"> Create New Listing</a>

{% for listing in listings%}


<div class="px-3 py-2 bg-gray-100 rounded-sm">
    <h3 class="text-3xl text-grey-900"> {{listing.title}} </h3>
    {% if listing.image %}
        <img src="{{ listing.image.url }}" alt="{{ listing.title }}">
    {% else %}
        <p>No image available.</p>
    {% endif %}
    <a href="/listings/{{ listing.id }}/" class="text-blue-500">
        View Details
    </a>
</div>


{%endfor%}

{% endblock content %}